
<div id="divNews" style="display:none">
    <ul>
        <li><a class="articleLink" id="one" href="#">News Article 1</a></li>
        <li><a class="articleLink" id="two" href="#">News Article 3</a></li>
        <li><a class="articleLink" id="three" href="#">News Article 3</a></li>
    </ul>

</div>
<div id="divSales" style="display:none">
    <ul>
        <li>Sales Article 1</li>
        <li>Sales Article 1</li>
        <li>Sales Article 1</li>
    </ul>

</div>

<script type="text/javascript">
    
</script>




