

  <div id="divNews" style="display:none">
    <ul>
        <li>News Article 1</li>
        <li>News Article 1</li>
        <li>News Article 1</li>
    </ul>

</div>
<div id="divSales" style="display:none">
    <ul>
        <li>Sales Article 1</li>
        <li>Sales Article 1</li>
        <li>Sales Article 1</li>
    </ul>

</div>